/* Universal Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: hsl(27, 66%, 92%);
  --primary: hsl(10, 79%, 65%);
  --secondary: hsl(186, 34%, 60%);
  --font: hsl(25, 47%, 15%);
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--font);
  line-height: 1;
}

/* Main card */

.main-card {
  width: calc(100% - 50px);
  max-width: 500px;
}

.upper,
.lower {
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0px 25px -6px;
}

/* Upper Card */

.upper {
  background-color: var(--primary);
  margin-bottom: 25px;
  color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
}

.sub-titles {
  font-size: 14px;
}

.sub-titles:not(:last-child) {
  margin-bottom: 5px;
}

.balance {
  font-size: 30px;
  font-weight: 700;
  color: hsl(33, 100%, 98%);
}

@media (max-width: 480px) {
  .balance {
    font-size: 1.625rem;
  }
}

/* Lower Card */

.lower {
  background-color: hsl(33, 100%, 98%);
  padding: 35px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
}

.graph {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.graph-bar-section {
  width: calc(14.25% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.cost-display {
  text-align: center;
  padding: 7.25px;
  color: #fff;
  background-color: var(--font);
  margin-bottom: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

@media (max-width: 480px) {
  .lower,
  .upper {
    padding: 35px 25px;
  }

  .graph-bar-section {
    width: calc(14.25% - 10px);
  }

  .cost-display {
    padding: 5px;
    font-size: 12px;
  }
}

.bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bar {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  background-color: var(--primary);
  transition: 0.2s all ease-in-out;
}

.bar:hover {
  opacity: 60%;
}

.day-title {
  font-size: 13px;
  font-weight: 400;
  color: var(--font);
}

.highest {
  background-color: var(--secondary);
}

/* Statistic Section */

.divider {
  height: 2px;
  width: 100%;
  margin: 30px 0;
  border: none;
  background: var(--background);
}

.statistics {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.statistics .sub-titles {
  color: hsl(28, 10%, 53%);
  text-align: right;
}

.sub-titles.total-month {
  text-align: left;
}

.total-spent {
  font-size: 2.75rem;
  text-align: left;
}

.comparison-section h6 {
  font-size: 1.125rem;
  text-align: right;
}

@media (max-width: 480px) {
  .total-spent {
    font-size: 2rem;
  }

  .sub-titles,
  .comparison-section h6 {
    font-size: 1rem;
  }
}

/* Attribution Section */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
